                /* fonts */
@font-face {
	font-family: 'Lato-Black';
	src: url('assets/fonts/Lato-Black/.eot');
	src: local('☺'), url('assets/fonts/Lato-Black/Lato-Black.woff') format('woff'), url('assets/fonts/Lato-Black/Lato-Black.ttf') format('truetype'), url('assets/fonts/Lato-Black/Lato-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('assets/fonts/Lato-Bold/Lato-Bold.eot');
	src: local('☺'), url('assets/fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('assets/fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'), url('assets/fonts/Lato-Bold/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Regular';
	src: url('assets/fonts/Lato-Regular/.eot');
	src: local('☺'), url('assets/fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('assets/fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'), url('assets/fonts/Lato-Regular/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: url('assets/fonts/Lato-Light/Lato-Light.eot');
	src: local('☺'), url('assets/fonts/Lato-Light/Lato-Light.woff') format('woff'), url('assets/fonts/Lato-Light/Lato-Light.ttf') format('truetype'), url('assets/fonts/Lato-Light/Lato-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

html {
  font-size: 15px;
}
body {
  margin: 0;
  font-family: "Lato-Regular";
  font-weight: 400;
  color: black;
  
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
p {
  margin: 0 0 1rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
